flask
gunicorn

# Pytorch CPU (hỗ trợ Python 3.13)
torch==2.5.1+cpu
torchvision==0.20.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

opencv-python
numpy
matplotlib
pillow

ultralytics
psycopg2-binary
