<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <a class="nav-logo" href="/">DeepfakeDetect</a>
        </div>
        <div class="nav-right">
            <a href="/login">Login</a>
            <a href="/register" class="btn-primary">Register</a>
        </div>
    </nav>

    <main class="container">
        <div class="auth-box">
            <h2>Create Account</h2>

            <form method="POST" action="/register">
                <label>Name</label>
                <input type="text" name="name" required>

                <label>Email</label>
                <input type="email" name="email" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <button type="submit" class="btn-primary">Register</button>
            </form>

            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </main>
    <div class="oauth-box">
    <hr>
    <p>Or register with</p>

    <a href="/auth/google" class="btn-google">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
        Continue with Google
    </a>
</div>

<style>
.btn-google {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
}

.btn-google img {
    width: 20px;
    height: 20px;
}
.oauth-box {
    text-align: center;
    margin-top: 20px;
}
</style>


</body>
</html>
